* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* styles for header */

header {
  min-height: 300px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(224, 221, 221, 0.5);
  z-index: 1;
}

.navbar-nav {
  font-size: 1rem;
  font-weight: bold;
}

.hello {
  text-align: center;
}

.hello-title {
  letter-spacing: -1px;
  font-size: 2rem;
  color: #0e2a3c;
  font-weight: bold;
}

.hello-name {
  color: #fff;
}

/* media query for header */

@media (max-width: 768px) {
  .hello {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  header {
    margin-bottom: 0;
  }
}

@media (max-width: 400px) {
  .hello-title {
    font-size: 1.8rem;
  }
}

/* styles for section about me */

.about-me {
  min-height: 400px;
  background-color: #fff;
  padding: 30px;
}

.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0e2a3c;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.about-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.about-img {
  width: 100%;
  height: 100%;
}

.about-desc {
  text-align: justify;
  font-size: 1.1rem;
  font-style: italic;
  padding: 0 50px;
}

/* media query for about me section */

@media (max-width: 992px) {
  .about-desc {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
  }

  .about-desc {
    padding: 0;
  }
}

/* styles for skill section */

.skills {
  min-height: 400px;
  background: linear-gradient(to right, #ecf4fb, #37c2db73);
  padding: 30px;
}

.skills-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.skills-desc {
  justify-self: center;
}

.skills-desc-title {
  font-weight: bold;
}

.skills-desc-item {
  list-style-position: inside;
  list-style-type: square;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 5px;
}

.skills-icons {
  color: #132d3e;
}

.skills-icons:not(:last-child) {
  margin-right: 10px;
}

.skill-label {
  font-weight: bold;
}

.progress {
  margin-bottom: 15px;
}

/* media query for skills section */

@media (max-width: 992px) {
  .skills-box {
    grid-column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .skills-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .skills-box {
    grid-template-columns: 1fr;
  }
}

/* styles for projects section */

.projects {
  min-height: 600px;
  padding: 30px;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  min-height: 300px;
  grid-column-gap: 50px;
}

.project-item-desc {
  text-align: justify;
  font-style: italic;
  font-size: 1.1rem;
}

.project-img-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.project-img-box:hover {
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.project-img {
  width: 100%;
  height: 100%;
}

.open-live {
  border: 2px solid #01b4ae;
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  color: #01b4ae;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-top: 15px;
}

.open-live::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 46px;
  background-image: linear-gradient(135deg, rgb(2, 170, 176), rgb(0, 205, 172));
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.open-live:hover::before {
  width: 100%;
}

.open-live:hover {
  text-decoration: none;
  color: #fff;
}

.open-github {
  font-size: 1.1rem;
  color: #000;
  text-decoration: underline;
  font-weight: bold;
}

.open-github:hover {
  color: #058682;
}

/* media query for projects section */

@media (max-width: 992px) {
  .project-item {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .project-item {
    grid-template-columns: 1fr;
  }
}

/* styles for contacts section */

.contacts {
  min-height: 250px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 100px;
}

.contacts-angle {
  text-align: center;
}

.angle-link {
  color: #0e2a3c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: #0e2a3c solid 2px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.angle-link:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
  text-decoration: none;
  color: #0e2a3c;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.contact-item {
  height: 100%;
}

.contact-link {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 10px;
}

.contact-link:hover {
  color: #fff;
  text-decoration: none;
}

.github {
  background-color: rgba(14, 42, 60, 0.5);
  transition: all 0.7s ease;
}

.github:hover {
  background-color: #24292e;
  transition: all 0.7s ease;
}

.telegram {
  background-color: rgba(14, 42, 60, 0.6);
  transition: all 0.7s ease;
}

.telegram:hover {
  background-color: #0088cc;
  transition: all 0.7s ease;
}

.email {
  background-color: rgba(14, 42, 60, 0.8);
  transition: all 0.7s ease;
}

.email:hover {
  background-color: #d44e41;
  transition: all 0.7s ease;
}

.contact-icon {
  margin-top: 5px;
}

/* media query for projects section */

@media (max-width: 650px) {
  .contacts {
    grid-template-rows: 0.5fr 1fr;
  }

  .contact-box {
    grid-template-columns: 1fr;
  }

  .contacts {
    min-height: 400px;
  }
}

/* styles for footer section */

footer {
  background-color: #0e2a3c;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #ccc9c9;
  margin-bottom: 0;
  font-size: 0.9rem;
  margin-right: 10px;
}

.footer-sign {
  color: #20b787;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.7s ease;
  margin-left: 5px;
}

.footer-sign:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.7s ease;
}
