* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* styles for header */

header {
  min-height: 450px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  margin-bottom: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(224, 221, 221, 0.5);
  z-index: 1;
}

.navbar-nav {
  font-size: 1rem;
  font-weight: bold;
}


.hello {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;

}

.hello-title {
  letter-spacing: -1px;
  font-size: 2rem;
  color: #0e2a3c;
  font-weight: bold;
}

.hello-name {
  color: #fff;
}

/* media query for header */

@media (max-width: 768px) {
  .hello {
    padding: 0 15px;
  }
}

@media (max-width: 576px) {
  .hello {
    margin-top: 100px;
  }

  header {
    margin-bottom: 0;
  }
}

/* styles for section about me */

.about-me {
  min-height: 400px;
  background-color: #fff;
  padding: 30px;
}

.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0e2a3c;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-transform: uppercase;
}


.about-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.about-img {
  width: 100%;
  height: 100%;
}

.about-desc {
  text-align: justify;
  font-size: 1.1rem;
  font-style: italic;
  padding: 0 50px;
}

/* media query for about me section */

@media (max-width: 992px) {
  .about-desc {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
  }

  .about-desc {
    padding: 0;
  }
}

/* styles for skill section */

.skills {
  min-height: 400px;
  background: linear-gradient(to right, #ecf4fb, #37c2db73);
  padding: 30px;
}

.skills-box {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.skills-desc {
  justify-self: center;
}

.skills-desc-title {
  font-weight: bold;
}

.skills-desc-item {
  list-style-position: inside;
  list-style-type: square;
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 5px;
}

.skills-icons {
  color: #132d3e;
}

.skills-icons:not(:last-child) {
  margin-right: 10px;
}

.skill-label {
  font-weight: bold;
}

.progress {
  margin-bottom: 15px;
}

/* media query for skills section */

@media (max-width: 992px) {
  .skills-box {
    grid-column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .skills-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .skills-box {
    grid-template-columns: 1fr;
  }
}

/* styles for projects section */

.projects {
  min-height: 600px;
  padding: 30px;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  padding: 0 50px;
  min-height: 300px;
  grid-column-gap: 30px;

}

.project-title-link {
  color: #0e2a3c;
  font-size: 1.6rem;
  font-weight: bold;
}

.project-item-desc {
  text-align: justify;
  font-style: italic;
  font-size: 1.1rem;
}

.project-img-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);

}

.project-img {
  width: 100%;
  height: 100%;
}

/* media query for projects section */

@media (max-width: 992px) {
  .project-item {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .project-item {
    grid-template-columns: 1fr;
  }
}

/* styles for contacts section */

.contacts {
  min-height: 300px;
  padding-top: 110px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.contacts-title {
  margin-left: 30px;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.contact-item {
  height: 100%;
}

.contact-link {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
}

.github {
  background-color: #24292e;

}

.telegram {
  background-color: #0088cc;
}

.email {
  background-color: #d44e41;
}