* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* styles for header */

header {
  min-height: 250px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.hello {
  text-align: center;
}

.hello-title {
  letter-spacing: -1px;
  font-size: 2rem;
  color: #0e2a3c;
  font-weight: bold;
}

.hello-name {
  color: #fff;
}


/* media query for header */

@media (max-width: 768px) {
  .hello {
    padding: 0 15px;
  }
}

@media (max-width: 400px) {
  .hello-title {
    font-size: 1.8rem;
  }
}



/* styles for projects section */

.projects {
  min-height: 600px;
  padding: 30px;
}

.projects-wrapper {
  width: 90%;
  margin: 0 auto;
}

.project-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
  grid-gap: 30px;
  padding: 15px;
  box-shadow: 0 3px 6px rgb(128, 175, 162), 0 3px 6px rgba(0, 0, 0, 0.43);
}

.project-item:not(:last-child) {
  margin-bottom: 50px;
}

.project-links {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link-source-code {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.project-item-desc {
  text-align: justify;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 10px;
}

.project-img-box {
  align-self: start;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out;
}

.project-img-box:hover {
  opacity: 0.7;
  transition: all 0.5s ease-in-out;
}

.project-img {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.51), 0 3px 6px rgba(0, 0, 0, 0.43);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.open-live {
  border: 2px solid #01b4ae;
  display: inline-block;
  width: auto;
  height: 45px;
  padding: 0 10px;
  font-size: 1.1rem;
  color: #01b4ae;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease-in-out;
  position: relative;
  margin-right: 15px;
}

.open-live::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 41px;
  background-image: linear-gradient(135deg, rgb(2, 170, 176), rgb(0, 205, 172));
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.open-live:hover::before {
  width: 100%;
}

.open-live:hover {
  text-decoration: none;
  color: #fff;
}

.open-github {
  font-size: 1rem;
  color: #157572;
  font-weight: bold;
}

.open-github:hover {
  color: #0e2a3c;
}

.footnote {
  font-size: 0.9rem;
  color: #848080;
}

.footnote-link {
  color: #848080;
  text-decoration: underline;
}

hr {
  margin-bottom: 5px;
}

/* media query for projects section */

/* @media (max-width: 992px) {
  .project-item {
    padding: 0;
  }
} */

@media (max-width: 768px) {
  .project-item {
    grid-template-columns: 1fr;
  }

  .project-links {
    grid-column: 1/-1;
  }
}

@media (max-width: 576px) {
  .projects-wrapper {
    width: 100%;
  }
}


/* styles for section about me */

.about-me {
  min-height: 400px;
  padding: 30px;
}

.section-title {
  font-size: 2.2rem;
  font-weight: bold;
  color: #0e2a3c;
  letter-spacing: -1px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.about-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.about-img {
  width: 100%;
  height: 100%;
}

.about-desc {
  text-align: justify;
  font-size: 1.1rem;
  font-style: italic;
}


/* media query for about me section */

@media (max-width: 992px) {
  .about-desc {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr;
  }
}

/* styles for contacts section */

.contacts {
  min-height: 250px;
  background: linear-gradient(to right, #2ebf91, #37c2db);
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 100px;
}

.scroll-angle {
  text-align: center;
}

.angle-link {
  color: #0e2a3c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  border: #0e2a3c solid 2px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.angle-link:hover {
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px);
  text-decoration: none;
  color: #0e2a3c;
}

.contact-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.contact-item {
  height: 100%;
}

.contact-link {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 10px;
}

.contact-link:hover {
  color: #fff;
  text-decoration: none;
}

.github {
  background-color: rgba(14, 42, 60, 0.5);
  transition: all 0.7s ease;
}

.github:hover {
  background-color: #24292e;
  transition: all 0.7s ease;
}

.telegram {
  background-color: rgba(14, 42, 60, 0.6);
  transition: all 0.7s ease;
}

.telegram:hover {
  background-color: #0088cc;
  transition: all 0.7s ease;
}

.email {
  background-color: rgba(14, 42, 60, 0.8);
  transition: all 0.7s ease;
}

.email:hover {
  background-color: #d44e41;
  transition: all 0.7s ease;
}

.contact-icon {
  margin-top: 5px;
}

/* media query for contacts section */

@media (max-width: 768px) {
  .github {
    background-color: #24292e;
  }

  .telegram {
    background-color: #0088cc;
  }

  .email {
    background-color: #d44e41;
  }
}

@media (max-width: 650px) {
  .contacts {
    grid-template-rows: 0.5fr 1fr;
  }

  .contact-box {
    grid-template-columns: 1fr;
  }

  .contacts {
    min-height: 400px;
  }
}

/* styles for footer section */

footer {
  background-color: #0e2a3c;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  color: #ccc9c9;
  margin-bottom: 0;
  font-size: 0.9rem;
  margin-right: 10px;
}

.footer-sign {
  color: #20b787;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.7s ease;
  margin-left: 5px;
}

.footer-sign:hover {
  text-decoration: none;
  color: #fff;
  transition: all 0.7s ease;
}